/* CSS declarations go here */

body
{
  padding-top: 60px;
  padding-bottom: 40px;
}

.container-after-subnav
{
  padding-top: 40px;
}

.pill-bordered
{
  border-radius: 15px;
  border: solid black 1px;
  padding: 15px;
}